* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f7fa;
    padding: 40px;
    font-family: Montserrat;
}

.wrapper {
    background-color: #ffffff;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0,15);
}

.sidebar {
    background-color: #1e2939;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px; 
}

.my-photo {
    width: 370px;
}

.about-me-container {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 110px;
    padding-bottom: 110px;
}

.contacts-container {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}

.contacts-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

.contacts-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #434c5a;
}

.contacts-type {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-right: 10px;
}

.tech-skills-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

.tech-skills-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 55px;
    margin-top: 55px;
}

.tech-skills-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 10px;
    color: #ff6b08;
}

.tech-skills-text {
    color: #d8dadd;
}

.profession {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 23px;
}

.name {
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
}

.description {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
}

.info-container {
    margin-bottom: 65px;
}

.projects-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}

.projets-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
}

.projects-item {
    margin-left: 17px;
}

.projects-container {
    margin-bottom: 55px;
}

.profession-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.company {
    color: #ff7011;
}

.prof-time {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}

.prof-devider {
    color: #000;
}

.prof-duties {
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 17px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
}

.musicology {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
    margin-top: 15px;
}